@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
      font-family: "Roboto Mono", monospace !important;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    width: 100%;
    height: 100vh;
}
.contenedor__1{
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    width: 50%;
    padding: 5%;
}
textarea{
    border:1px solid #e7b2b2;
    box-shadow: 0px 4px 4px #470c18;
    font-family: "Roboto Mono", monospace !important;
    font-size: 1rem;
    resize: none;
    background-color: #E6E6E6;
    color: #A91D3A;
    border-radius: 20px;
    height:100%;
    width: 100%;
  
}
textarea:hover{
    border-color: none;
    background-color: #6f2d3a;

}
textarea:focus{
    border: none;
}
textarea::placeholder{
    color: #A91D3A;
}
.contenedor__1__botones{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #cb4b4b;
    height: 10%;
    padding-left: 2%;
    padding-top: 12px;
    gap: 10px;

}
.contenedor__1__botones__1{
    border: none;
    background-color: #C73659;
    color: #EEEEEE;
    border-radius: 4px;
    padding: 2px 10px;
}
.contenedor__1__botones__1:hover{
    background-color: #6f2d3a;
    /* cursor: cell ; */
}
.lista__div{
    display: flex;
}
.lista {
    display: flex;
    justify-content: flex-end;
    font-size: 9px;
}
.contenedor__2{
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    justify-content:end;
    width: 50%;
    padding: 5%;
    
}
.contenedor__2__article{
    box-shadow: 0px 4px 4px #470c18;
    font-size: 1rem;
    border:1px solid #e7b2b2;
    background-color: #E6E6E6;
    color: #A91D3A;
    border-radius: 20px;
    padding: 5%;
    height: 25%;

}
.contenedor__2__article:hover{
    background-color: #6f2d3a;
}
.contenedor__2__botones{
    
    display: flex;
    justify-content: end;
    height: 9%;
    width:100%;
    padding: 5px;
    gap: 3%;

}
/* .contenedor__1__botones__1:hover{
    transition:all .5s ease-in-out;
} */ 
/* .copiar:hover{
    background-color: #ae2142;
    cursor: cell ;
} */
#ingreso_texto{
    padding: 5%;

}
@media ( width <= 820px ){
 
    .contenedor{
        display: flex;
        background-color: aqua;
       
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      .contenedor__1{
        width: 100%;
        height: 50%;
      }

       .contenedor__2{
            width: 100%;
            height: 50%;
}
    .contenedor__2__article{
        height: 60%;
    }
        .contenedor__1__botones{ 
            padding-top: 20px;
      

}

        .contenedor__2__botones{
            height: 15%;
        }
        /* .lista{
            padding: 0.5% 0 0 0;
        } */
}